notebooks/.Rhistory
paper/#main.tex#
paper/.#main.tex
paper/main.fdb_latexmk
paper/main.log
paper/main.out
paper/main.fls
paper/main.aux
paper/main.pdf
paper/main.bbl
paper/main.blg
data/full_sigs/.Rhistory
notebooks/corpus_stats_and_plots.nb.html
notebooks/corpus_stats_and_plots.nb.html
*.html
