notebooks/.Rhistory
paper/#main.tex#
paper/.#main.tex
paper/main.fdb_latexmk
paper/main.log
paper/main.out
paper/main.fls
paper/main.aux
paper/main.pdf
paper/main.bbl
paper/main.blg
data/full_sigs/.Rhistory
notebooks/corpus_stats_and_plots.nb.html
notebooks/corpus_stats_and_plots.nb.html
*.html
notebooks/.RData
notebooks/corpus_stats_and_plots.nb.html
notebooks/paper_results_section.nb.html
notebooks/paper_results_section.nb.html
data/genthat_counts_final/.Rhistory
*.DS_Store
*.Rhistory
*.Rproj.user
paper/main.synctex.gz
.auctex-auto
wip_paper/main.bbl
wip_paper/main.log
wip_paper/main.out
paper/oopsla_19_types_for_R.tex
